USE [master]
GO
/****** Object:  Database [SQL_Ordenes]    Script Date: 7/22/2022 4:08:20 PM ******/
CREATE DATABASE [SQL_Ordenes]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'SQL_Ordenes', FILENAME = N'/var/opt/mssql/data/SQL_Ordenes.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'SQL_Ordenes_log', FILENAME = N'/var/opt/mssql/data/SQL_Ordenes_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [SQL_Ordenes].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [SQL_Ordenes]
GO
/****** Object:  Table [dbo].[Articulos]    Script Date: 7/22/2022 4:08:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Articulos](
	[Articulo_Id] [int] NOT NULL,
	[Nombre] [varchar](50) NOT NULL,
	[Preico] [money] NOT NULL,
 CONSTRAINT [PK_Articulos] PRIMARY KEY CLUSTERED 
(
	[Articulo_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Clientes]    Script Date: 7/22/2022 4:08:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Clientes](
	[Cliente_ID] [int] NOT NULL,
	[Nombre_Cliente] [varchar](50) NOT NULL,
	[Estado_ID] [int] NOT NULL,
 CONSTRAINT [PK_Clientes] PRIMARY KEY CLUSTERED 
(
	[Cliente_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Estados]    Script Date: 7/22/2022 4:08:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Estados](
	[Estado_ID] [int] NOT NULL,
	[Estado] [varchar](50) NOT NULL,
 CONSTRAINT [PK_Estados] PRIMARY KEY CLUSTERED 
(
	[Estado_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Ordenes]    Script Date: 7/22/2022 4:08:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Ordenes](
	[Order_ID] [int] NOT NULL,
	[Fecha] [date] NOT NULL,
	[Cliente_ID] [int] NOT NULL,
 CONSTRAINT [PK_Ordenes] PRIMARY KEY CLUSTERED 
(
	[Order_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Pedidos p/ Producto]    Script Date: 7/22/2022 4:08:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Pedidos p/ Producto](
	[Pedido_Por_Producto_ID] [int] NOT NULL,
	[Cantidad] [int] NOT NULL,
	[Articulo_ID] [int] NOT NULL,
	[Order_ID] [int] NOT NULL,
 CONSTRAINT [PK_Pedidos p/ Producto] PRIMARY KEY CLUSTERED 
(
	[Pedido_Por_Producto_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Clientes]  WITH CHECK ADD  CONSTRAINT [FK_Clientes_Estados] FOREIGN KEY([Estado_ID])
REFERENCES [dbo].[Estados] ([Estado_ID])
GO
ALTER TABLE [dbo].[Clientes] CHECK CONSTRAINT [FK_Clientes_Estados]
GO
ALTER TABLE [dbo].[Ordenes]  WITH CHECK ADD  CONSTRAINT [FK_Ordenes_Clientes] FOREIGN KEY([Cliente_ID])
REFERENCES [dbo].[Clientes] ([Cliente_ID])
GO
ALTER TABLE [dbo].[Ordenes] CHECK CONSTRAINT [FK_Ordenes_Clientes]
GO
ALTER TABLE [dbo].[Pedidos p/ Producto]  WITH CHECK ADD  CONSTRAINT [FK_Pedidos p/ Producto_Articulos] FOREIGN KEY([Articulo_ID])
REFERENCES [dbo].[Articulos] ([Articulo_Id])
GO
ALTER TABLE [dbo].[Pedidos p/ Producto] CHECK CONSTRAINT [FK_Pedidos p/ Producto_Articulos]
GO
ALTER TABLE [dbo].[Pedidos p/ Producto]  WITH CHECK ADD  CONSTRAINT [FK_Pedidos p/ Producto_Ordenes] FOREIGN KEY([Order_ID])
REFERENCES [dbo].[Ordenes] ([Order_ID])
GO
ALTER TABLE [dbo].[Pedidos p/ Producto] CHECK CONSTRAINT [FK_Pedidos p/ Producto_Ordenes]
GO
USE [master]
GO
