USE [master]
GO
/****** Object:  Database [practicaSQL]    Script Date: 7/22/2022 11:50:06 AM ******/
CREATE DATABASE [practicaSQL]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'practicaSQL', FILENAME = N'/var/opt/mssql/data/practicaSQL.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'practicaSQL_log', FILENAME = N'/var/opt/mssql/data/practicaSQL_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [practicaSQL].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [practicaSQL]
GO
/****** Object:  Table [dbo].[Aeropuertos]    Script Date: 7/22/2022 11:50:06 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Aeropuertos](
	[AueropuertoID] [int] NOT NULL,
	[Nombre_Aueropuerto] [varchar](25) NOT NULL,
	[Codigo] [varchar](5) NOT NULL,
	[Distancia_KM] [real] NOT NULL,
	[CiudadID] [int] NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Ciudades]    Script Date: 7/22/2022 11:50:06 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Ciudades](
	[CiudadID] [int] NOT NULL,
	[Ciudad] [varchar](50) NOT NULL,
	[HabitantesCiudad_M] [real] NOT NULL,
	[PaisID] [int] NOT NULL,
 CONSTRAINT [PK_Ciudades] PRIMARY KEY CLUSTERED 
(
	[CiudadID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Paises]    Script Date: 7/22/2022 11:50:06 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Paises](
	[PaisID] [int] NOT NULL,
	[Pais] [varchar](50) NOT NULL,
	[Habitantes_PaisM] [real] NULL,
	[PerteneceUE] [bit] NOT NULL,
 CONSTRAINT [PK_Paises] PRIMARY KEY CLUSTERED 
(
	[PaisID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Aeropuertos]  WITH CHECK ADD  CONSTRAINT [FK_Aeropuertos_Ciudades] FOREIGN KEY([CiudadID])
REFERENCES [dbo].[Ciudades] ([CiudadID])
GO
ALTER TABLE [dbo].[Aeropuertos] CHECK CONSTRAINT [FK_Aeropuertos_Ciudades]
GO
ALTER TABLE [dbo].[Ciudades]  WITH CHECK ADD  CONSTRAINT [FK_Ciudades_Paises] FOREIGN KEY([PaisID])
REFERENCES [dbo].[Paises] ([PaisID])
GO
ALTER TABLE [dbo].[Ciudades] CHECK CONSTRAINT [FK_Ciudades_Paises]
GO
USE [master]
GO
